body {
 background:url(../img/timg.jpg) no-repeat center fixed;
 background-position: center 0;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 -webkit-background-size: cover;
}

.blank {
 height: 150px;
 width: auto;
}