{% extends 'base.html' %}
{% load static %}
{% block link_file %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock link_file %}
{% block account_container %}
    <div class='lg-container'>
    <h1>{{ title }}</h1>
    <hr/>
        <div>
            <form method='POST' action='' enctype='multipart/form-data' id="lg-form">{% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    {% if form.get_form == "registerForm" or form.get_form == "editForm" %}
                    <button class="btn btn-default" type="button" onclick="file.click()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Your Image
                    </button>
                </div>
                <div class="form-group">
                    <img class="img-responsive" src="" alt=" Preview of the Image. . . " title="preview-img">
                </div>
                    {% endif %}
            <input type='submit' class='btn btn-default' value='{{ title }}' id="login"/>
            <input type='reset' class='btn btn-default' value='Reset' />
            </form>
        </div>
    </div>

{% endblock account_container %}