{% extends "base.html" %}
{% load static %}
{% block link_file %}
        <link rel="stylesheet" href="{% static "css/rest.css" %}">
{% endblock link_file %}
{% block post_detail_container %}
<div>
<div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="thumbnail">
             <img src='{{ instance.photo.url }}' class='img-responsive' />
            <a class='like-btn'
            data-likes='{{ instance.likes.count }}'
            href='{{ instance.get_like_url }}'>{{ instance.likes.count }} likes</a>
          <div class="caption post-detail-item">
              <h3 class="text-muted">
                  {{ instance.description }} <small>{{ instance.publish|timesince }}</small>
              </h3>
          </div>
        </div>
      </div>
    <br>
    </div>
</div>
<footer>
    <div class="col-md-6 col-md-offset-3">

        <form class="form-horizontal" action="{% url 'posts:detail' instance.slug %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <input type="text" name="content"  class="form-control" placeholder="Say something?">
            </div>
            <div class="form-group">
                <input type="submit" value="Commit" class="btn btn-default">
            </div>
        </form>
    </div>
    <div class="row">
        {% for comment in instance.get_instance_comment %}
            <div class="col-md-6 col-md-offset-3">
            <blockquote>
                <div class="row">
                    <a href="{% url 'posts:user_profile_page' comment.user.username %}">
                        <div class="col-md-1">
                            <img src="{{ comment.user.user_profile.image.url }}" style="height: 50px; width: 50px" class="img-circle">
                        </div>
                        <div class="col-md-1">
                            <p class="text-info">
                                {{ comment.user.username }}:
                            </p>
                        </div>
                    </a>
                    <div class="col-md-1 col-md-offset-1">
                        <p class="text-info">
                            {{ comment.content }}
                        </p>
                    </div>
                </div>
                <div>
                    {% for children_comment in comment.children %}
                        <blockquote>
                            <div class="row">
                                <a href="{% url 'posts:user_profile_page' children_comment.user.username %}">
                                    <div class="col-md-1">
                                            <img src="{{ children_comment.user.user_profile.image.url }}" style="height: 30px; width: 30px" class="img-circle">
                                    </div>
                                    <div class="col-md-1">
                                        <p class="text-info">
                                            {{ children_comment.user.username }}:
                                        </p>
                                    </div>
                                </a>
                                <div class="col-md-1 col-md-offset-1">
                                    <p class="text-info">
                                        {{ children_comment.content }}
                                    </p>
                                </div>
                            </div>
                        </blockquote>
                    {% endfor %}
                    <form class="form-horizontal" action="{% url 'posts:detail' instance.slug %}" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="content"  class="form-control" placeholder="Say something?">
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Reply" class="btn btn-default">
                        </div>
                    </form>
                </div>
            </blockquote>
            </div>
        {% endfor %}

    </div>
</footer>
</div>
{% endblock post_detail_container %}