{% extends 'base.html' %}
{% load static %}
{% block link_file %}
        <link rel="stylesheet" href="{% static "css/rest.css" %}">
{% endblock link_file %}
{% block profile_container %}
<div>
    <div class="row">
        <div class="col-md-1 col-md-offset-1"></div>
        <div class="col-md-1 col-md-offset-1">
            <img id="profile-image" src="{{ user_profile.image.url }}" class="img-circle" style="height: 150px; width: 150px;"/>
        </div>
        <div class="col-md-3 col-sm-offset-1">
            <p class="lead user-username">{{ user_profile.user.username }}</p>
            <p class="signature">{{ user_profile.signature }}</p>
            {% if user_profile.user.username == current_user.username %}
            <button class="edit-profile btn btn-default" type="button">
                <a class="edit-profile" href="{% url 'edit' %}">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Edit Profile
                </a>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<br>
<div>
        {% for obj in posts %}
      <div class="col-md-6 col-md-offset-3">
        <div class="thumbnail">
             <img src='{{ obj.photo.url }}' class='img-responsive' />
          <div class="caption post-detail-item">
              <h3>
                  <a href='{{ obj.get_absolute_url }}'>{{ obj.description }}</a> <small>{{ obj.publish }}</small>
              </h3>
          </div>
        </div>
      </div>
    <br>
        {% endfor %}
    </div>
</div>
{% endblock profile_container %}